* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #282828;
  color: #ebdbb2;
}

#workspaces {
  background: #3c3836;
  margin: 2px 4px;
  padding: 2px;
  border-radius: 4px;
}

#workspaces button {
  padding: 0 8px;
  color: #ebdbb2;
  border-radius: 3px;
}

#workspaces button.focused {
  background: #83a598;
  color: #282828;
}

#workspaces button.active {
  background: #504945;
  color: #ebdbb2;
}

#workspaces button.urgent {
  background: #fb4934;
  color: #282828;
}

#workspaces button:hover {
  background: #665c54;
  color: #ebdbb2;
}

#window {
  background: #3c3836;
  margin: 2px 4px;
  padding: 0 12px;
  border-radius: 4px;
}

#pulseaudio, #network, #battery, #clock {
  background: #3c3836;
  margin: 2px 4px;
  padding: 0 12px;
  border-radius: 4px;
}

#pulseaudio {
  color: #b8bb26;
}

#network {
  color: #83a598;
}

#battery {
  color: #8ec07c;
}

#battery.critical {
  color: #fb4934;
}

#clock {
  color: #fabd2f;
}

#tray {
  background: #3c3836;
  margin: 2px 4px;
  padding: 0 8px;
  border-radius: 4px;
}
